{% extends 'layout.html' %}

{% block title %} - Home{% endblock %}

{% block style %}
<style type="text/css" id="custom-stylesheet">
{% for entry in Entries %}
	{{ decodeURIComponent(entry.styles_namespaced) }}
{% endfor %}
</style>
{% endblock %}

{% block content %}

	<div id="info">
		<button id="info-toggle">i</button>
		<button id="save">Save</button>
		<button id="edit">Edit</button>
		<input id="edit-info" type="text" placeholder="enter email to edit"></input>
		<button id="fork">Fork Entry</button>
		<input id="fork-info" type="text" placeholder="enter new url for fork"></input>
		<label for="custom-styles">Enter Custom Styles</label>
		<textarea id="custom-styles">{% for entry in Entries %}{% if loop.last %}{{ decodeURIComponent(entry.styles_raw) }}{% endif %}{% endfor %}</
	</div>

	<button id="prev">prev</button>
	<button id="next">next</button>

	<main id="main">
		<div id='slider' class='swipe'>
  		<div class='swipe-wrap'>

			{% for entry in Entries %}

				{% if loop.last %}
					{% set latest = true %}
				{% endif %}

				<div id="{% if latest == true %}latest{% endif %}" class="version " data-version="{{ entry.Version }}" {% if entry.forked %}data-forked="{{ entry.forked }}"{% endif %}>

					{% if entry.forked %}<a class="forked" href="{{ entry.forked }}">{{ entry.forked }}</a>{% endif %}

					{% for item in entry.items %}

						<section id="{{ item.meta.ids }}" class="saved {{ item.meta.classes }}" {{ item.meta.attrs }}>

							{% if item.headline %}
								<h1 class="headline">{% autoescape false %}{{ item.headline }}{% endautoescape %}</h1>
							{% elseif latest == true %}
								<h1 class="headline new" data-placeholder="Headline" contenteditable>Headline</h1>
							{% endif %}

							{% if item.media %}
								<div class="media">{% autoescape false %}{{ item.media }}{% endautoescape %}</div>
							{% elseif latest == true %}
								<div class="media new">
						            <div class="media-wrap"></div>
						            <button class="photo">Photo</button>
						            <!-- <button class="video">Video</button>
						            <button class="audio">Audio</button> -->
						            <button class="draw">Draw</button>
						            <button class="map">Map</button>
						        </div>
							{% endif %}

							{% if description in item %}
								<p class="description">{% autoescape false %}{{ item.description }}{% endautoescape %}</p>
							{% elseif latest == true %}
								<p class="description new" data-placeholder="Description" contenteditable>Description</p>
							{% endif %}

							{% if meta in item %}
								<b class="meta">{{ item.meta.raw }}</b>
							{% elseif latest == true %}
								<b class="meta new" data-placeholder="meta-data" contenteditable>meta-data</b>
							{% endif %}

						</section>

						{% endfor %}

						{% if latest == true %}<button id="new">new item</button>{% endif %}

					</div>

			{% endfor %}

			</div>
		</div>

	</main>



{% endblock %}


