{% extends 'layout.html' %}

{% block title %} - Home{% endblock %}

{% block content %}
	<main id="main" class="index">
		<ul>	
		{% for article in collection %}
			<li>
				<a href="/{{ name }}">
					<h1 class="headline">{% autoescape false %}{{ article.Entries[0].items[0].headline }}{% endautoescape %}</h1>
					<div class="media">{% autoescape false %}<img src="{{ article.Entries[0].items[0].media }}"{% endautoescape %}></div>
					<p class="description">{% autoescape false %}{{ article.Entries[0].items[0].description }}{% endautoescape %}</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</main>
{% endblock %}


