<!doctype html>
<html ng-app>
	<head>
	  <meta charset="utf-8">
	  <title>Essay {% block title %}{% endblock %}</title>
	  <link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
	  <link rel="stylesheet" type="text/css" href="stylesheets/lib/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body>
		<div id="wrap" ng-controller="MainCtrl">
			<button id="save" ng-click="archive()">Save</button>
			{% block content %}{% endblock %}
		</div>
		<script type="text/javascript" src="javascripts/lib/angular.min.js"></script>
		<script type="text/javascript" src="javascripts/MainCtrl.js"></script>
	</body>
</html>