<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Essay {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">	
</head>
<body>
<div id="wrap">
	<button id="save">Save</button>
	{% block content %}{% endblock %}
</div>



<script type="text/javascript" src="javascripts/lib/jquery.js"></script>
<script type="text/javascript" src="javascripts/lib/underscore-min.js"></script>
<script type="text/javascript" src="javascripts/lib/backbone-min.js"></script>


<script type="text/template" id="section_template">
	<section <%= meta %>>
		<b class="meta" contenteditable><%= meta %></b>
		<h1 class="headline" contenteditable><%= headline %></h1>
		<div class="media" contenteditable><%= media %></div>
		<p class="description" contenteditable><%= description %></p>
	</section>
</script>


<script type="text/javascript" src="javascripts/main.js"></script>

</body>
</html>