*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#wrap {
	font-family: 'Open Sans';
	margin: 60px auto 0;
	width: 90%;
}
#save {
	background: #000;
	border: 0;
	border-radius: 0 0 5px 0;
	color: #fff;
	font-weight: 800;
	left: 0;
	padding: 5px 8px;
	outline: none;
	position: fixed;
	top: 0;
}

section {
	margin: 40px 0;
}

.saved .headline,
.saved .media,
.saved .description,
.saved .meta {
	border: solid 1px transparent;
	border-radius: none;
}
.saved:hover .headline,
.saved:hover .media,
.saved:hover .description,
.saved:hover .meta {
	border: solid 1px #ccc;
	border-radius: 3px;
}
section .headline,
section .media,
section .description,
section .meta {
	border: solid 1px #ccc;
	border-radius: 3px;
	display: block;	
	margin: 5px 0;
	padding: 1%;
	text-align: center;
	width: 100%;
	transition: border 0.5s;
}
section .meta {
	margin-left: 80%;
	width: 20%;
}

section .headline.done,
section .media.done,
section .description.done {
	border: 0;
	border-radius: none;
	margin: 5px 0;
	padding: 0;
	text-align: left;
}


section .headline.done,
section .media.done {
	text-align: center;
}

.headline {
	font-weight: 800;
}
.media,
.description {
	font-weight: 500;
}

#new {
	background :#e5e5e5;
	border: solid 1px #ccc;
	border-radius: 3px;
	display: block;
	font-weight: 800;
	margin: 40px auto 0;
	outline: none;
	padding: 2%;
	width: 60%;
}

.media img {
	max-width: 100%;
}