#info {
    background: #000;
    border-left: solid 1px #fff;
    display: block;
    height: 100%;
    left: -280px;
    padding: 3px;
    position: fixed;
    top: 0;
    width: 280px;
    transition: all 0.1s ease-out;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 999999999;
}
.open #info {
    transform: translate3d(280px, 0, 0);
    -ms-transform: translate3d(280px, 0, 0);
    -webkit-transform: translate3d(280px, 0, 0);
}
#info button {
    background: #333;
    border: 0;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin: 4px auto;
    padding: 5px 0;
    outline: none;
    width: 220px;
}
#info #info-toggle {
    background: #000;
    border-radius: 0 0 5px 0;
    font-family: georgia, serif;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    padding: 3px 6px;
    position: absolute;
    right: -29px;
    top: 0;
    width: 29px;
    z-index: 100;
}
#edit-info,
#fork-info {
    display: none;
    font-size: 16px;
    margin: 4px auto 20px;
    width: 220px;
}
#info label {
    color: #fff;
    display: block;
    margin-top: 20px;
    text-align: center;
}
#info #custom-styles {
    font-family: monospace;
    font-size: 12px;
    height: 300px;
    margin: 0 15px;
    width: 240px;
}