.headline,
.media,
.description,
.meta,
.draw,
.photo {
    border-bottom: 0;
    display: block;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
}
.headline {
    font-size: 24px;
    font-weight: 800;
    min-height: 36px;
}
.media {
    font-size: 11px;
}
.media svg {
    background: #00f5f5;
    height: 100%;
    width: 100%;
}
.photo,
.video,
.audio,
.draw,
.map {
    background: transparent;
    border: 0;
    border-radius: 2px;
    color: #000;
    display: inline-block;
    font-size: 13px;
    margin: 0 2px;
    padding: 2px 5px 0;
    text-align: center;
    transition: color 0.25s;
    width: 50px;
}
.photo:hover,
.video:hover,
.audio:hover,
.draw:hover,
.map:hover {
    color: #999;
}
.headline:focus,
.description:focus,
.meta:focus,
.new.headline:hover,
.new.description:hover,
.new.meta:hover {
    height: 22px;
    padding: 6px 0 2px;
}
.new.media:hover {
    height: 22px;
    padding: 2px 0;
}
.new.headline,
.new.media,
.new.description,
.new.meta {
    border-bottom: 1px solid #999;
    font-size: 16px;
    font-weight: 500;
    height: 16px;
    margin: 2px auto;
    min-height: 0;
    padding: 14px 0 0;
    width: 300px;
}
#latest .new.headline,
#latest .new.media,
#latest .new.description,
#latest .new.meta {
    border-bottom: 1px solid transparent;
}
#latest[data-version="0"] .new.headline,
#latest[data-version="0"] .new.media,
#latest[data-version="0"] .new.description,
#latest[data-version="0"] .new.meta {
    border-bottom: 1px solid #999;
}


#analyser {
    background: #000;
    height: 100px;
    width: 320px;
}
#record {
    background: #e33;
    border: 0;
    border-radius: 50%;
    height: 50px;
    text-indent: -9999px;
    transition: all 0.25s;
    width: 50px;
}
#record.recording {
    background: #000;
    border: 0;
    border-radius: 0;
}