.headline,
.media,
.description,
.meta,
.media-btn {
    border-bottom: 1px solid transparent;
    display: block;
    text-align: center;
    transition: padding 0.25s;
}
.headline {
    font-size: 24px;
    font-weight: 800;
}
.new.headline,
.new.media,
.new.description,
.new.meta {
    border-bottom: 1px solid #999;
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    min-height: 0;
    padding: 4px 0;
    width: 300px;
}
#latest .new.headline,
#latest .new.media,
#latest .new.description,
#latest .new.meta {
    border-bottom: 1px solid transparent;
}
#latest[data-version="0"] .new.headline,
#latest[data-version="0"] .new.media,
#latest[data-version="0"] .new.description,
#latest[data-version="0"] .new.meta {
    border-bottom: 1px solid #999;
}
.new.media .media-btn {
    color: #ccc;
}

.media-btn {
    background: transparent;
    border: 0;
    display: none;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 0;
    text-align: center;
    margin: 0 auto;
}
.media-btn.active {
    display: block;
}
.hasMedia .media-btn,
.hasMedia .media-btn.active {
    display: none;
}

.media-controls {
    display: none;
    background: #000;
}
.hasMedia .media-controls,
.media-controls.active {
    display: block;
}
.photo,
.draw,
.clear,
.circle,
.rect,
.undo,
.map {
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 0;
    margin: 4px;
    padding: 15px;
    text-indent: -9999px;
    transition: background 0.25s;
    width: 0;
}
.photo {
    background-image: url(../images/upload.png);
}
.draw {
    background-image: url(../images/draw.png);
    background-size: 80% auto;
}
.rect {
    background-image: url(../images/rect.png);
}
.undo {
    background-image: url(../images/undo.png);
}
.photo:hover,
.draw:hover,
.clear:hover,
.resize:hover,
.undo:hover,
.map:hover {
    background-color: #ccc;
}

.file {
    display: none;
}

.media-wrap {
    line-height: 0;
    position: relative;
}
.media-wrap img {
    height: auto;
    position: relative;
    width: 100%;
    z-index: 1;
}
.media-wrap svg {
    background: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
