.headline,
.media,
.description,
.meta,
.media-btn {
    border-bottom: 0;
    display: block;
    overflow: hidden;
    text-align: center;
    transition: padding 0.25s;
}
.headline {
    font-size: 24px;
    font-weight: 800;
    min-height: 36px;
}
.headline:focus,
.description:focus,
.meta:focus,
.new.headline:hover,
.new.media:hover,
.new.description:hover,
.new.meta:hover {
    padding: 3px 0;
}
.new.headline,
.new.media,
.new.description,
.new.meta {
    border-bottom: 1px solid #999;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    margin: 0 auto;
    min-height: 0;
    padding: 24px 0 0;
    width: 300px;
}
#latest .new.headline,
#latest .new.media,
#latest .new.description,
#latest .new.meta {
    border-bottom: 1px solid transparent;
}
#latest[data-version="0"] .new.headline,
#latest[data-version="0"] .new.media,
#latest[data-version="0"] .new.description,
#latest[data-version="0"] .new.meta {
    border-bottom: 1px solid #999;
}


.media-btn {
    background: transparent;
    border: 0;
    display: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}
.media-btn.active {
    display: block;
}
.hasMedia .media-btn,
.hasMedia .media-btn.active {
    display: none;
}

.media-controls {
    display: none;
}
.hasMedia .media-controls,
.media-controls.active {
    display: block;
}
.photo,
.draw,
.clear,
.circle,
.rect,
.undo,
.map {
    background: #999;
    border: 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 100;
    margin: 0 2px;
    padding: 4px;
    text-align: center;
    transition: background 0.25s;
    width: 50px;
}
.photo:hover,
.draw:hover,
.clear:hover,
.resize:hover,
.undo:hover,
.map:hover {
    background: #666;
}
/*.circle,
.rect,
.undo {
    display: none;
}*/
.hasPhoto .resize,
.drawing .undo {
    display: block;
}
.file {
    display: none;
}

.media-wrap {
    position: relative;
}
.media-wrap img {
    height: auto;
    position: relative;
    width: 100%;
    z-index: 1;
}
.media-wrap svg {
    background: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
