body {
    height: 100%;
    position: relative;
}
#modal {
    color: #ccc;
    display: none;
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: 800;
    left: 0;
    position: fixed;
    text-align: center;
    top: 47.5%;
    transition: all 0.5s ease-out;
    width: 100%;
}
body.beginMessage #modal {
    display: block;
    opacity: 1;
}
body.finishMessage #modal {
    display: block;
    opacity: 0;
    transform: scale(2);
    transform-origin: center center;
    -ms-transform: scale(2);
    -ms-transform-origin: center center;
    -webkit-transform: scale(2);
    -webkit-transform-origin: center center;
}

#wrap {
    display: block;
    font-family: 'Open Sans';
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
}

#main {
/*    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;*/
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    transition: all 0.1s ease-out;
    transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    width: 80%;
}
.open #main {
    transform: translate3d(150px, 0, 0);
    -ms-transform: translate3d(150px, 0, 0);
    -webkit-transform: translate3d(150px, 0, 0);
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    width: 100%;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}
#prev,
#next {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 0;
    height: 100%;
    margin-top: -25px;
    opacity: 0.25;
    position: fixed;
    text-indent :-9999px;
    top: 0;
    transition: opacity 0.25s;
    width: 10%;
}
#prev:hover,
#next:hover {
    opacity: 0.75;
}
#prev {
    background-image: url(/images/left-arr.png);
    right: 90%;
}
#next {
    background-image: url(/images/right-arr.png);
    left: 90%;
}